@import "../vars/entry";

@mixin font(
  $size: $globalFontSize,
  $lineHeight: $globalLineHeight,
  $fontFamily: $globalFontFamily) {

  font-size: $size;
  line-height: $lineHeight;
  font-family: $fontFamily;
  }
